body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #7ec384, #fed6e3);  /* azul-claro para rosa-claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f5f8f2; /* tom mais suave de verde-claro */
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 420px;
    width: 90%;
    text-align: center;
    color: #2a2a2a;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.01);
}

.logos {
    text-align: center;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #2a2a2a;
}

.intro {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #4a4a4a;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.actions button,
.actions a {
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.actions .start {
    background-color: #f9cadc;
    color:#000;
}

.actions .start:hover {
    background-color: #c8e9c8;
}

.actions .option {
    background-color: #7ec384;
    color: #fff;
}

.actions .option:hover {
    background-color: #65aa6b;
}

.actions .login {
    background-color: #f9cadc;
    color: #2a2a2a;
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.actions .interacao {
    background-color: #f9cadc;
    color: #2a2a2a;
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.actions .login:hover {
    background-color: #c8e9c8;
    color: #000;
}

.actions .privacy {
    background-color: #f9cadc;
    color: #2a2a2a;
}

.actions .privacy:hover {
    background-color: #c8e9c8;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 8px 8px;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #d9e4dd;
    border-radius: 12px;
    background-color: #ffffffcc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: border 0.3s ease, box-shadow 0.3s ease;
    font-size: 1em;
    color: #2a2a2a;
}

input:focus {
    border-color: #7ec384;
    outline: none;
    box-shadow: 0 0 0 3px rgba(126, 195, 132, 0.3);
}

input::placeholder {
    color: #8d8d8d;
    font-style: italic;
}


