<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lea_app/css/style4.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Chatbot{% endblock %}</title>
</head>
<body>
    <header>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div class="layout">
    <nav class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="{% url 'index' %}">🏠 Início</a></li>
                <li><a href="{% url 'configuracoes' %}">⚙️ Configuracoes</a></li>
                <li><a href="{% url 'privacidade' %}">📝 Privacidade e Acessibilidade</a></li>
            </ul>
     </nav>
</div>
    
</body>
</html>


