
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% load static %}
<div class="container">
        <h1>Login</h1>
        <div class="avatar-container" style="margin: 20px 0;">
            <img src="{% static 'img/lea_avatar.png' %}" alt="LEA" style="max-width: 200px;">
        </div>
    <div class="actions">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Usuário">
            <input type="password" name="password" placeholder="Senha"><br><br>
            <button type="submit" class="option">➡️ Entrar</button>
        </form>
        <div style="display: flex; flex-direction: column; gap: 15px; margin-top: 2em;">
            <a href="{% url 'password_reset' %}" class="login">🔒 Esqueci minha senha?</a>
            <a href="{% url 'register' %}" class="login">➕ Criar conta</a>
        </div>
    </div><br>
    {% load static %}
    <div class="logos">
        <img src="{% static 'images/logo1.png' %}" width="50px">
        <img src="{% static 'images/logo2.png' %}" width="25px">
        <img src="{% static 'images/logo3.png' %}" width="50px">
    </div>
</div>
</div>
{% endblock %}
