{% extends 'base.html' %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}

{% load static %}
<div class="container">
    <h1>Recuperar sua senha</h1>
    <div class="avatar-container" style="margin: 20px 0;">
        <img src="{% static 'img/lea_avatar.png' %}" alt="LEA" style="max-width: 200px;">
    </div>
    <p class="intro">Digite o endereço de e-mail verificado da sua conta de usuário e enviaremos um link para redefinir a senha.</p>
    
    <form method="post" class="actions">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Seu email" required>
        <button type="submit" class="start">Enviar link de recuperação</button>
    </form>
</div>
{% endblock %}
