{% extends 'base.html' %}
{% block title %}Recuperar Senha{% endblock %}
{% block content %}
{% load static %}
<center><img src="{% static 'images/logo.png' %}" alt="Logo" width="150" height="150"></center>
<center><h2>Recuperar sua senha</h2></center>
<p style="text-align: center; margin-bottom: 1.5em;">Digite o endereço de e-mail verificado da sua conta de usuário e enviaremos um link para redefinir a senha.</p>
<form method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Seu email">
    <button type="submit">Enviar link de recuperação</button>
</form>
 <br><br>   <a href="{% url 'login' %}">Voltar</a>
{% endblock %}
