{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>LEA - Assistente de Saúde</title>
    <link rel="stylesheet" href="{% static 'lea_app/css/style4.css' %}">
</head>
<body>
    <div class="container">
        <h1>Oi, sou a LEA!</h1>
        <div class="avatar-container" style="margin: 20px 0;">
            <img src="{% static 'img/lea_avatar.png' %}" alt="LEA" style="max-width: 150px;">
        </div>
        <p class="intro">Sou um chatbot e vou te auxiliar a realizar sua síntese de evidências com mais facilidade. Em que você precisa de ajuda?</p>

        <div class="actions">
            <a href="{% url 'interacao' %}" class="interacao">💬 Iniciar conversa</a>
            <a href="{% url 'login' %}" class="login">👤 Login</a>
            <!-- <a href="{% url 'privacidade' %}" class ="privacy">↗ Privacidade e acessibilidade</a> -->
        </div>
    </div>
        <div class="layout">
        <nav class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="{% url 'index' %}">🏠 Início</a></li>
                <li><a href="{% url 'configuracoes' %}">⚙️ Configuracoes</a></li>
                <li><a href="{% url 'privacidade' %}">📝 Privacidade e Acessibilidade</a></li>
            </ul>
            <br>
        {% load static %}
        <div class="logos"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <img src="{% static 'img/logo_nova.png' %}" width="65px">
            <img src="{% static 'img/logo_ufpe.png' %}" width="90px">
            <img src="{% static 'img/logo_facepe.png' %}" width="80px">
        </div>
        </nav>
</body>
</html>
